.footer {
	min-height: 20vh;
	display: flex;
	flex-direction: column;
	color: $white;

	.footer-image {
		margin-top: -1px;
	}
	
	.footer-content {
		display: flex;
		flex: 1;
		padding-bottom: 1rem;
		padding-top: 1rem;
		text-align: center;

		@include media-breakpoint-up(md) {
			padding-top: initial;
			text-align: initial;
		}

		.row {
			width: 100%;
		}

		.footer-links {
			font-size: 1.25rem;
			a {
				color: $white;
			}
		}
	}
}