.scroll-to-top {
	color: #fff;
	background-color: #000;
	opacity: 0.7;
	display: inline-block;
	position: fixed;
	bottom: 50px;
	right: 50px;
	transition: 300ms ease-in-out;
	cursor: pointer;
	pointer-events: auto;
	z-index: 10000000;

	a {
		text-align: center;
		width: 100%;
		height: auto;
		display: block;
		width: 40px;
		height: 40px;
		padding-top: 3px;
		font-size: 23px;
		color: #fff;
	}

	&:hover,
	&:active,
	&:focus {
		opacity: 1;
	};
}

body {
	background: radial-gradient(1513.61px at 87.33% 8.33%, #08D5F1 0%, #45E297 100%);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 0 110%;
}

// Full page <div>
.full-page {
	min-height: 100vh;
	width: 100%;
	display: block;
}

// Bigger container
.container-big {
	@extend .container;

	@media (min-width: 1500px) {
		max-width: 1400px;
	}
}


#settler-about {
	background-color: $white;
	min-height: 80vh;
}




















// Big container class
// .container-big {
// 	padding: 0 15px;
// 	width: 100%;
// 	margin: auto;

// 	@include media-breakpoint-up(lg) {
// 		width: 90%;
// 	}
// 	@include media-breakpoint-up(xl) {
// 		width: 80%;
// 	}
// }




// // Main app
// #settler {
// 	min-height: 100vh;
// 	padding: 50px 15px;

// 	@include media-breakpoint-up(md) {
// 		padding: 100px 15px;		
// 	}

// 	.row, .col-md-6 {
// 		@include media-breakpoint-up(md) {
// 			min-height: 100%;
// 		}
// 	}





// // Settler about
// #settler-about {
// 	height: 80vh;
// 	background-color: $white;
// 	display: flex;
// 	align-items: center;
// }
// .footer {
// 	height: 20vh;
// 	background-image: url('/dist/images/cave.svg');
// 	background-size: 1920px auto;
// 	background-position: left -1px;
// 	display: flex;
// 	flex-wrap: wrap;
// 	align-items: center;
// 	justify-content: space-between;
// 	padding: 50px 15px 0 15px;

// 	@include media-breakpoint-up(md) {
// 		padding: 50px 100px 0 100px;
// 	}
// }
