
h1, h2 ,h3 ,h4, h5 {
	font-weight: 700;
	color: $primary;
}

h2 {
	font-size: 2.5rem;
}

.hr-custom {
	height: 9px;
	border-radius: 4px;
	width: 40px;
	background-color: $primary;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.page-title {
	.display-3 {
		font-weight: 800;
		line-height: .95;
		color: $white;
	}
	h1.display-3 {
		font-size: 3rem;
		margin-bottom: 2rem;

		@include media-breakpoint-up(md) {
			font-size: 2.8rem;
		}
		@include media-breakpoint-up(lg) {
			font-size: 4.5rem;
		}
	}
	p {
		margin-bottom: 2rem;
		font-size: 1.25rem;

		@include media-breakpoint-up(sm) {
			font-size: 1.5rem;
		}
	}
}

.display-1, .display-2, .display-3, .display-4 {
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.align-fa-with-text {
	vertical-align: -2px;
}